<form class="mt-3" method="post" action="{{ path('app_user_account_delete') }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce compte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button  class="link-02">Supprimer le compte</button>
</form>
