{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
