<div class="accordion" id="map-accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button id="acc-button-comment" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Commentaires
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#map-accordion">
            <div class="accordion-body" id="map-accordion-body-comment">
                <p class="text-white">Rien à afficher.</p>
            </div>
        </div>
    </div>

    <div class="accordion-item mt-20px">
        <h2 class="accordion-header">
            <button id="acc-button-favorite" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Favoris
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#map-accordion">
            <div class="accordion-body" id="map-accordion-body-favorite">
                <p class="text-white">Rien à afficher.</p>
            </div>
        </div>
    </div>

    <div class="accordion-item mt-20px">
        <h2 class="accordion-header">
            <button id="acc-button-favorite" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Météo
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#map-accordion">
            <div class="accordion-body" id="map-accordion-body-forecast">
            <ul class="nav nav-pills gap-3" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="day0-tab" data-bs-toggle="tab" data-bs-target="#day0-tab-pane" type="button" role="tab" aria-controls="day0-tab-pane" aria-selected="true">Jour</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="day1-tab" data-bs-toggle="tab" data-bs-target="#day1-tab-pane" type="button" role="tab" aria-controls="day1-tab-pane" aria-selected="false">Jour +1</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="day2-tab" data-bs-toggle="tab" data-bs-target="#day2-tab-pane" type="button" role="tab" aria-controls="day2-tab-pane" aria-selected="false">Jour +2</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="day3-tab" data-bs-toggle="tab" data-bs-target="#day3-tab-pane" type="button" role="tab" aria-controls="day3-tab-pane" aria-selected="false">Jour +3</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="day7-tab" data-bs-toggle="tab" data-bs-target="#day7-tab-pane" type="button" role="tab" aria-controls="day7-tab-pane" aria-selected="false">Jour +7</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="day0-tab-pane" role="tabpanel" aria-labelledby="day0-tab" tabindex="0">
                    <div id="forecast-div-0">
                        <p class="text-white mt-3">Rien à afficher.</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="day1-tab-pane" role="tabpanel" aria-labelledby="day1-tab" tabindex="1">
                    <div id="forecast-div-1">
                        <p class="text-white mt-3">Rien à afficher.</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="day2-tab-pane" role="tabpanel" aria-labelledby="day2-tab" tabindex="2">
                    <div id="forecast-div-2">
                        <p class="text-white mt-3">Rien à afficher.</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="day3-tab-pane" role="tabpanel" aria-labelledby="day3-tab" tabindex="3">
                    <div id="forecast-div-3">
                        <p class="text-white mt-3">Rien à afficher.</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="day7-tab-pane" role="tabpanel" aria-labelledby="day7-tab" tabindex="7">
                    <div id="forecast-div-7">
                        <p class="text-white mt-3">Rien à afficher.</p>
                    </div>
                </div>
            </div>
                
            </div>
        </div>
    </div>

    <div class="accordion-item mt-20px">
        <h2 class="accordion-header">
            <button id="acc-button-school" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Enseignement
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#map-accordion">
            <ul class="nav nav-pills gap-2 display-flex flex-wrap justify-content-between" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="sort0-asc-tab" type="button" role="tab" aria-selected="true" data-bs-toggle="tab">Nom ↥</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="sort0-desc-tab" type="button" role="tab" aria-selected="true" data-bs-toggle="tab">Nom ↧</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="sort1-asc-tab" type="button" role="tab" aria-selected="false" data-bs-toggle="tab">Type ↥</button>
                </li>
                                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="sort1-desc-tab" type="button" role="tab" aria-selected="false" data-bs-toggle="tab">Type ↧</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="sort2-asc-tab" type="button" role="tab" aria-selected="false" data-bs-toggle="tab">Statut ↥</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="sort2-desc-tab" type="button" role="tab" aria-selected="false" data-bs-toggle="tab">Statut ↧</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="sort3-asc-tab" type="button" role="tab" aria-selected="false" data-bs-toggle="tab">Nature ↥</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="sort3-desc-tab" type="button" role="tab" aria-selected="false" data-bs-toggle="tab">Nature ↧</button>
                </li>
            </ul>
            <div id="div-container-filters">
                <input type="checkbox" class="btn-check" id="btn-check-without-filter-school" autocomplete="off" checked>
                <label class="btn btn-radio" for="btn-check-without-filter-school">Aucun filtre(s)</label>

                <input type="checkbox" class="btn-check" id="btn-check-maternelle-filter-school" autocomplete="off">
                <label class="btn btn-radio" for="btn-check-maternelle-filter-school">Ec. Maternelle</label>

                <input type="checkbox" class="btn-check" id="btn-check-elementaire-filter-school" autocomplete="off">
                <label class="btn btn-radio" for="btn-check-elementaire-filter-school">Ec. Elémentaire</label>

                <input type="checkbox" class="btn-check" id="btn-check-restauration-filter-school" autocomplete="off">
                <label class="btn btn-radio" for="btn-check-restauration-filter-school">Restauration</label>

                <input type="checkbox" class="btn-check" id="btn-check-hebergement-filter-school" autocomplete="off">
                <label class="btn btn-radio" for="btn-check-hebergement-filter-school">Hébergement</label>

            </div>
            <div class="accordion-body" id="map-accordion-body-school">
                <p class="text-white">Rien à afficher.</p>
            </div>
        </div>
    </div>
</div>