<div id="infos-container">
    <div id="result-block">
        <div id="result-text">
        <p class"mb-0">Pas de commune selectionnée</p>
        </div>
        <button id="btn-favorite" class="btn btn-sm btn-primary-dark-small display-none">+</button>
        <button id="btn-comment" class="btn btn-sm btn-primary-dark-small display-none" data-bs-toggle="modal" data-bs-target="#modal-comment">+</button>
    </div>

    {{ include('./home/accordion.html.twig') }}
</div>