    <div class="container-01" id="map-btn-container">
        <div class="container-02">
            <button id="btn-center-position" class="btn btn-tooltip btn-primary" data-tooltip="Centrer la carte sur votre position.">Centrer Position</button>
            <button id="btn-center-town" class="btn btn-tooltip btn-primary" data-tooltip="Centrer la carte sur la commune sélectionnée.">Centrer Commune</button>
            <button id="btn-search" class="btn btn-tooltip btn-primary" data-tooltip="Rechercher des communes par leur noms.">Rechercher</button>
        </div>
        <div id="search-div" class="display-none">
            <label for="map-search-request">Recherche</label>
            <input type="text" id="input-search-request" />
            <button id="btn-launch-search" class="btn btn-sm btn-primary-small">Ok</button>
            <select id="select-search-request" class="display-none">
                <option class="option-search-request" value="">Choisir une commune</option>
            </select>
        </div>
    </div>