    <div class="modal fade" id="modal-school" tabindex="-1" aria-labelledby="title-modal-school" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title-modal-school">Voir un établissement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-school-body">
                    <div id="div-modal-school-1">
                    
                    </div>
                    <div id="div-modal-school-2">
                    
                    </div>   
                    <div id="div-modal-school-3">
                    
                    </div>  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>