{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block js %}
<script type="text/javascript">
    var mapManager = new MapManager();
    mapManager.run();
</script>
{% endblock %}

{% block body %}

    <div id="map"></div>
    {{ include('./home/div_buttons.html.twig') }}
    {{ include('./home/div_infos.html.twig') }}
    {{ include('./home/div_modal_comment.html.twig') }}
    {{ include('./home/div_modal_school.html.twig') }}


{% endblock %}