.btn-primary {
    background-color: $primary-color-medium;
    border-color: $primary-color-medium;
    color: $white;
    min-width: 160px;
    &:hover {
        background-color: $primary-color-dark;
        border-color: $primary-color-light;
        color: $secondary-color;
    }
}

.btn-primary-small {
    background-color: $primary-color-light;
    border-color: $primary-color;
    color: $white;
    min-width: 40px;
    &:hover {
        background-color: $primary-color-dark;
        border-color: $primary-color-light;
        color: $secondary-color;
    }
}

.btn-primary-dark-small {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
    color: $secondary-color;
    width: 36px;
    height: 36px;
    font-size: 1.38em;
    line-height: 0.62em;
    text-align: center;
    border-radius: 50%;
    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;
    }
}

.btn-secondary-very-small {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $white;
    width: 28px;
    height: 28px;
    font-size: 1.38em;
    line-height: 0.5em;
    text-align: center;
    padding: 0px;
    border-radius: 50%;

    
    &::before {
        content: attr(data-content);
        display: block;
        margin-top: -2px; // Ajustez cette valeur selon vos besoins
    }

    &.decal-down {
        &::before {
            content: attr(data-content);
            display: block;
            margin-top: -5px; // Ajustez cette valeur selon vos besoins
        }
    }

    &:hover {
        background-color: $secondary-color-dark;
        border-color: $secondary-color-dark;
        color: $secondary-color;
    }
}