$primary-color: rgb(6, 89, 122);
$primary-color-medium: rgb(0, 69, 97);
$primary-color-dark: rgb(2, 52, 71);
$primary-color-light: rgb(50, 135, 168);

$secondary-color: rgb(241, 119, 53);
$secondary-color-dark: rgb(85, 43, 0);
$secondary-color-medium: rgb(141, 51, 2);
$secondary-color-light: rgb(250, 185, 149);

$white:rgb(236, 250, 255);

$orange:rgb(255, 140, 0);
$orange-dark-01:rgb(185, 112, 3);
$orange-dark-02:rgb(110, 67, 9);
$orange-light-01:rgb(255, 180, 0);

$primary: $primary-color !important;
$secondary: $secondary-color !important;