/*
#custom-select-types select,
#custom-select-domaines select,
#custom-select-metiers-rome select {
    background-color: $primary-color-dark;
    border: 1px solid $primary-color-medium;
    padding: 6px 12px;
    margin-right: 5px;
    border-radius: 5px;
}
*/

/* Style général pour les conteneurs Select2 */
.select2-container {
    margin-right: 10px;
    min-width: 160px;
    width: 160px;
}

/* Style pour le select lui-même */
.select2-container .select2-selection--single {
    height: 38px;
    border: 1px solid $primary-color-medium-dark;
    background-color: $primary-color-medium-dark;
    border-radius: 5px;
}

/* Style pour le texte sélectionné */
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    padding-left: 12px;
    color: $white;
}

/* Style pour la flèche déroulante */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

/* Style pour le placeholder */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: $white;
}

/* Style pour le dropdown */
.select2-dropdown {
    border: 1px solid $primary-color-medium-dark;
    border-radius: 5px;
}

/* Style pour les options dans le dropdown */
.select2-results__option {
    padding: 8px 12px;
    background-color: $primary-color-medium-dark;
    color: $white;
    font-size: 14px;
}

/* Style pour l'option survolée ou sélectionnée */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $secondary-color;
    color: white;
}

/* Style pour le conteneur des selects personnalisés */
/*
.custom-selects-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;

}
*/

.select2-search {
    background-color: $primary-color-medium-dark !important;
}

.select2-search input,
.select2-search input:focus {
    background-color: $primary-color-medium-dark;
    color: $white;
    background-image: none;
    background: $primary-color-medium;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}


// Ajoutez ceci à la fin de votre fichier SCSS existant

// Styles pour la barre de défilement dans le dropdown de Select2
.select2-results__options {
    &::-webkit-scrollbar {
      width: 8px;
      background-color: $primary-color-medium-dark;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: $secondary-color;
      border-radius: 4px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: darken($secondary-color, 10%);
    }
  
    &::-webkit-scrollbar-track {
      background-color: $primary-color-medium-dark;
      border-radius: 4px;
    }
  }
  
  // Pour Firefox
  .select2-results__options {
    scrollbar-width: thin;
    scrollbar-color: $secondary-color $primary-color-medium-dark;
  }
  
  // Assurez-vous que le conteneur des options a une hauteur maximale
  .select2-results__options {
    max-height: 200px; // Ajustez cette valeur selon vos besoins
    overflow-y: auto;
  }
  

/*
    &::-webkit-scrollbar {
        width: 10px !important;
        background-color: $primary-color-medium-dark !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary-color !important;
        border-radius: px !important;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $secondary-color !important;
    }

    &::-webkit-scrollbar-track {
        background-color: $primary-color-medium !important;
        border-radius: 5px !important;
    }
        */