.text-orange {
    color: $orange;
}

.text-orange-dark-01 {
    color: $orange-dark-01;
}

.text-orange-dark-02 {
    color: $orange-dark-02;
}

.text-white {
    color: $white;
}

.text-primary {
    color: $primary-color;
}

.text-primary-dark {
    color: $primary-color-dark;
}

.text-secondary {
    color: $secondary-color !important;
}

.text-secondary-dark {
    color: $secondary-color-dark !important;
}

.text-secondary-light {
    color: $secondary-color-light !important;
}

.text-centered {
    text-align: center;
}

.text-start {
    text-align: start;
}