.div-school {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    //border: 1px solid $primary-color-dark;
    background-color: $primary-color-dark;
    color: $white;
    padding: 10px;
}

.div-school-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-view-school {
    position: absolute !important;
    top: 10px;
    right: 10px;
}

#div-modal-school-1,
#div-modal-school-2 {
    
    width: 100%;
    border-radius: 5px;
    //border: 1px solid $primary-color-dark;
    background-color: $primary-color-medium-dark;
    color: $white;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#div-modal-school-3 {
    
    width: 100%;
    border-radius: 5px;
    //border: 1px solid $primary-color-dark;
    background-color: $primary-color-medium-dark;
    color: $white;
    padding: 10px;
}

#modal-school-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#div-container-filters {
    width: 100%;
    margin: 20px 0px;
    border-radius: 10px;
    background-color: $primary-color-medium-dark;
    color: $white;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .btn-radio {
        color: $white;
        font-size: 0.75rem;
    }
}


#btn-check-without-filter-school,
#btn-check-restauration-filter-school,
#btn-check-hebergement-filter-school,
#btn-check-maternelle-filter-school,
#btn-check-elementaire-filter-school,
#btn-check-voie-generale-filter-school {
    transition: 0.3s;
    
    &:checked+ .btn {
        transition: 0.3s;
        color: $secondary-color !important;
    }
}


.button-check:checked {
    color: $secondary-color !important;
}