.div-school {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    //border: 1px solid $primary-color-dark;
    background-color: $primary-color-dark;
    color: $white;
    padding: 10px;
}

.div-school-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
}