{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block js %}
{% endblock %}


{% block body %}
<div class="main">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h4 class="mt-3">Vous êtes déjà inscrit.</h4>
    {% else %}
        <h3 class="mt-3">S'inscrire</h3>
        {{ include('register/_form_register.html.twig') }}
    {% endif %}
    <a href="{{ path('app_home') }}" class="link-02 mt-3">Retour à l'accueil</a>
    <p class="mt-4 text-centered">Après l'inscription, un email d'activation sera envoyé à l'adresse email saisie.</br>
     Il faudra activer votre compte en cliquant sur le lien contenu par l'email d'activation.</p>
</div>

    <script>
        //document.addEventListener('turbo:load', (e) => {
            //console.log('register');
            //e.preventDefault();
            var btnSeePwd = document.getElementById('btn-see-password');
            if (btnSeePwd) {
                btnSeePwd.addEventListener('click', (event) => {
                    var input = document.getElementById('user_register_password');
                    if (input) {
                        input.type = input.type === "password" ? "text" : "password";
                    }
                });
            }
        //});
    </script>
{% endblock %}

