@charset "UTF-8";
.text-orange {
  color: rgb(255, 140, 0);
}

.text-orange-dark-01 {
  color: rgb(185, 112, 3);
}

.text-orange-dark-02 {
  color: rgb(110, 67, 9);
}

.text-white {
  color: rgb(236, 250, 255);
}

.text-primary {
  color: rgb(6, 89, 122);
}

.text-primary-dark {
  color: rgb(2, 52, 71);
}

.text-secondary {
  color: rgb(241, 119, 53) !important;
}

.text-secondary-dark {
  color: rgb(85, 43, 0) !important;
}

.text-secondary-light {
  color: rgb(240, 145, 93) !important;
}

.text-centered {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-small {
  font-size: 0.8em;
}

.text-medium {
  font-size: 1.2em;
}

.text-big {
  font-size: 1.8em;
}

.text-small-interligne {
  line-height: 1.4em;
}

.text-in-circle {
  display: inline-block;
  color: rgb(236, 250, 255);
  font-weight: bold;
  font-size: 1.2em;
  width: 24px !important;
  height: 24px !important;
  text-align: center;
  line-height: 1.2em;
  border-radius: 12px;
  background-color: green;
}

.link-01 {
  transition: 0.3s;
  text-decoration: none;
  font-weight: 700;
}
.link-01:hover {
  color: rgb(6, 89, 122);
}

.link-02 {
  transition: 0.3s;
  color: rgb(241, 119, 53);
  text-decoration: none;
  font-weight: 700;
  border: none;
}
.link-02:hover {
  transition: 0.3s;
  color: rgb(2, 52, 71);
}

.btn-primary {
  background-color: rgb(3, 76, 105);
  border-color: rgb(3, 76, 105);
  color: rgb(236, 250, 255);
  min-width: 160px;
}
.btn-primary:hover {
  background-color: rgb(2, 52, 71);
  border-color: rgb(50, 135, 168);
  color: rgb(241, 119, 53);
}

.btn-primary-small {
  background-color: rgb(50, 135, 168);
  border-color: rgb(6, 89, 122);
  color: rgb(236, 250, 255);
  min-width: 40px;
}
.btn-primary-small:hover {
  background-color: rgb(2, 52, 71);
  border-color: rgb(50, 135, 168);
  color: rgb(241, 119, 53);
}

.btn-primary-dark-small {
  background-color: rgb(2, 52, 71);
  border-color: rgb(2, 52, 71);
  color: rgb(241, 119, 53);
  width: 36px;
  height: 36px;
  font-size: 1.38em;
  line-height: 0.62em;
  text-align: center;
  border-radius: 50%;
}
.btn-primary-dark-small:hover {
  background-color: rgb(6, 89, 122);
  border-color: rgb(6, 89, 122);
  color: rgb(236, 250, 255);
}

.btn-secondary-very-small {
  background-color: rgb(241, 119, 53);
  border-color: rgb(241, 119, 53);
  color: rgb(236, 250, 255);
  width: 28px;
  height: 28px;
  font-size: 1.38em;
  line-height: 0.5em;
  text-align: center;
  padding: 0px;
  border-radius: 50%;
}
.btn-secondary-very-small::before {
  content: attr(data-content);
  display: block;
  margin-top: -2px;
}
.btn-secondary-very-small.decal-down::before {
  content: attr(data-content);
  display: block;
  margin-top: -5px;
}
.btn-secondary-very-small:hover {
  background-color: rgb(85, 43, 0);
  border-color: rgb(85, 43, 0);
  color: rgb(241, 119, 53);
}

.btn-see-password {
  background-color: rgb(2, 52, 71);
  border-radius: 5px;
  text-decoration: none;
  font-size: small;
  border: 1px solid rgb(2, 52, 71);
  min-width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  font-size: 0.8em;
  cursor: pointer;
}

.btn-text-small {
  font-size: 0.8em;
}

.btn-tooltip[data-tooltip] {
  position: relative; /* Position relative pour le positionnement absolu du tooltip */
}

.btn-tooltip[data-tooltip]::after {
  content: attr(data-tooltip); /* Utilise l'attribut data-tooltip pour le texte */
  position: absolute;
  bottom: 100%; /* Positionne le tooltip au-dessus du bouton */
  left: 50%;
  transform: translateX(-50%);
  background-color: black; /* Couleur de fond du tooltip */
  color: white; /* Couleur du texte */
  padding: 5px; /* Espacement interne */
  border-radius: 4px; /* Coins arrondis */
  white-space: nowrap; /* Empêche le retour à la ligne */
  opacity: 0; /* Commence invisible */
  transition: opacity 0.3s; /* Transition douce pour l'apparition */
  pointer-events: none; /* Empêche l'interaction avec le tooltip */
  z-index: 10; /* Assure que le tooltip est au-dessus d'autres éléments */
  margin-bottom: 5px; /* Espace entre le bouton et le tooltip */
  font-size: medium;
}

.btn-tooltip[data-tooltip]:hover::after {
  opacity: 1; /* Rend le tooltip visible au survol */
}

.btn-active {
  background-color: rgb(241, 119, 53) !important;
  border-color: rgb(241, 119, 53) !important;
  color: rgb(236, 250, 255) !important;
}
.btn-active:hover {
  background-color: rgb(85, 43, 0) !important;
  border-color: rgb(85, 43, 0) !important;
  color: rgb(241, 119, 53) !important;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(6, 89, 122);
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: rgb(2, 52, 71);
}

header {
  background-color: rgb(50, 135, 168);
  width: 100vw;
  max-width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20px;
}

footer {
  background-color: rgb(50, 135, 168);
  width: 100vw;
  max-width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 10px;
}

.main {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(236, 250, 255);
  width: 100vw;
  max-width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.display-none {
  transition: 0.3s;
  display: none;
}

.display-flex {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.mt-20px {
  margin-top: 20px;
}

.text-bg-primary {
  background-color: rgb(6, 89, 122) !important;
}

.text-bg-primary-light {
  background-color: rgb(50, 135, 168) !important;
}

.text-bg-primary-medium {
  background-color: rgb(3, 76, 105) !important;
}

.text-bg-primary-medium-dark {
  background-color: rgb(5, 64, 87) !important;
}

.text-bg-primary-dark {
  background-color: rgb(2, 52, 71) !important;
}

.text-bg-secondary {
  background-color: rgb(241, 119, 53) !important;
}

.text-bg-secondary-light {
  background-color: rgb(240, 145, 93) !important;
}

.text-bg-secondary-dark {
  background-color: rgb(85, 43, 0) !important;
}

.modal {
  color: rgb(236, 250, 255);
  background-color: rgba(6, 89, 122, 0.38);
}
.modal .modal-dialog .modal-content {
  background-color: rgb(2, 52, 71);
  border: 1px solid rgb(236, 250, 255);
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  font-weight: 700;
}
.modal .modal-dialog .modal-content .modal-header .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}
.modal .modal-dialog .modal-content .modal-body p {
  font-weight: 300;
}
.modal .modal-dialog .modal-content .modal-body textarea,
.modal .modal-dialog .modal-content .modal-body input {
  font-weight: 300;
  color: rgb(236, 250, 255);
  background-color: rgb(3, 76, 105);
  border-color: rgb(3, 76, 105);
}
.modal .modal-dialog .modal-content .modal-body input[type=range].form-range {
  background-color: transparent;
}
.modal .modal-dialog .modal-content .modal-body input[type=range].form-range::-webkit-slider-runnable-track {
  background-color: rgb(3, 76, 105) !important;
}
.modal .modal-dialog .modal-content .modal-body input[type=range].form-range::-moz-range-track {
  background-color: rgb(3, 76, 105) !important;
}
.modal .modal-dialog .modal-content .modal-body input[type=range].form-range::-ms-track {
  background-color: rgb(3, 76, 105) !important;
}
.modal .modal-dialog .modal-content .modal-body input[type=range].form-range::-webkit-slider-thumb {
  background-color: rgb(6, 89, 122) !important;
}
.modal .modal-dialog .modal-content .modal-body input[type=range].form-range::-moz-range-thumb {
  background-color: rgb(6, 89, 122) !important;
}
.modal .modal-dialog .modal-content .modal-body input[type=range].form-range::-ms-thumb {
  background-color: rgb(6, 89, 122) !important;
}
.modal .modal-dialog .modal-content .modal-body input[type=range].form-range::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, rgb(6, 89, 122), rgb(6, 89, 122) 50%, rgb(3, 76, 105) 50%, rgb(3, 76, 105) 100%) !important;
  background-size: 200% 100%;
  background-position: right bottom;
}
.modal .modal-dialog .modal-content .modal-footer .btn {
  font-weight: 700;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group-password {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.form-group-password-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.text-input,
.password-input {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(2, 52, 71);
  color: white;
  border: 1px solid rgb(2, 52, 71);
  height: 30px;
  width: 100%;
  /*
  input:-internal-autofill-selected {
      appearance: menulist-button;
      background-image: none !important;
      background-color: $primary-color-dark !important;
      color: $white !important;
  }
  */
}
.text-input:focus,
.password-input:focus {
  border: 1px solid rgb(241, 119, 53);
  outline: rgb(241, 119, 53) 1px solid;
  background-color: rgb(3, 76, 105);
  color: rgb(241, 119, 53);
  box-shadow: none;
}

.text-input:-webkit-autofill,
.text-input:-webkit-autofill:hover,
.text-input:-webkit-autofill:focus,
.text-input:-webkit-autofill:active input[type=email]:-webkit-autofill,
input[type=email]:-webkit-autofill:hover,
input[type=email]:-webkit-autofill:focus,
input[type=email]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(2, 52, 71) inset !important; /* Changez #f0f0f0 par la couleur de fond souhaitée */
  -webkit-text-fill-color: rgb(236, 250, 255) !important; /* Changez #333 par la couleur de texte souhaitée */
}

/*
#btn-see-password-login {
    margin-top: 0px;
}
*/
.table-small {
  width: 580px;
  margin: 20px auto;
  color: rgb(189, 202, 236);
  border-collapse: separate; /* Important: use separate to allow border-radius */
  border-spacing: 0; /* Remove space between borders */
  border-radius: 10px; /* Apply rounded corners */
  overflow: hidden;
}
.table-small th, .table-small td {
  padding: 10px;
  text-align: left;
  font-size: 1em;
}
.table-small tr:nth-child(even) {
  background-color: rgb(3, 76, 105);
}
.table-small tr:nth-child(odd) {
  background-color: rgb(5, 64, 87);
}

#day0-tab.nav-link,
#day1-tab.nav-link,
#day2-tab.nav-link,
#day3-tab.nav-link,
#day7-tab.nav-link,
#sort0-asc-tab.nav-link,
#sort0-desc-tab.nav-link,
#sort1-asc-tab.nav-link,
#sort1-desc-tab.nav-link,
#sort2-asc-tab.nav-link,
#sort2-desc-tab.nav-link,
#sort3-asc-tab.nav-link,
#sort3-desc-tab.nav-link {
  color: rgb(236, 250, 255);
  background-color: rgb(7, 96, 131);
}
#day0-tab.nav-link:hover,
#day1-tab.nav-link:hover,
#day2-tab.nav-link:hover,
#day3-tab.nav-link:hover,
#day7-tab.nav-link:hover,
#sort0-asc-tab.nav-link:hover,
#sort0-desc-tab.nav-link:hover,
#sort1-asc-tab.nav-link:hover,
#sort1-desc-tab.nav-link:hover,
#sort2-asc-tab.nav-link:hover,
#sort2-desc-tab.nav-link:hover,
#sort3-asc-tab.nav-link:hover,
#sort3-desc-tab.nav-link:hover {
  color: rgb(240, 145, 93);
  background-color: rgb(5, 64, 87);
}
#day0-tab.nav-link.active,
#day1-tab.nav-link.active,
#day2-tab.nav-link.active,
#day3-tab.nav-link.active,
#day7-tab.nav-link.active,
#sort0-asc-tab.nav-link.active,
#sort0-desc-tab.nav-link.active,
#sort1-asc-tab.nav-link.active,
#sort1-desc-tab.nav-link.active,
#sort2-asc-tab.nav-link.active,
#sort2-desc-tab.nav-link.active,
#sort3-asc-tab.nav-link.active,
#sort3-desc-tab.nav-link.active {
  color: rgb(241, 119, 53);
  background-color: rgb(2, 52, 71);
}

.div-school {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(2, 52, 71);
  color: rgb(236, 250, 255);
  padding: 20px;
}

.div-school-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn-view-school {
  position: absolute !important;
  top: 10px;
  right: 10px;
}

.btn-center-school {
  position: absolute !important;
  top: 10px;
  right: 45px;
  font-size: 1.4em;
  line-height: 1em;
}

.div-school-buttons-start,
.div-school-buttons-end {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.title-div-school {
  line-break: strict;
}

#div-modal-school-2 {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(5, 64, 87);
  color: rgb(236, 250, 255);
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

#collapseFour {
  padding-top: 0px !important;
}

#div-modal-school-1 {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(5, 64, 87);
  color: rgb(236, 250, 255);
  padding: 10px;
}

#div-modal-school-3 {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(5, 64, 87);
  color: rgb(236, 250, 255);
  padding: 10px;
}

#modal-school-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#div-container-filters {
  width: 100%;
  margin: 20px 0px;
  border-radius: 10px;
  background-color: rgb(2, 52, 71);
  color: rgb(236, 250, 255);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
#div-container-filters .btn-radio {
  color: rgb(236, 250, 255);
  font-size: 0.75rem;
}

#acc-button-school.accordion-button.collapsed {
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
}

#btn-check-without-filter-school,
#btn-check-restauration-filter-school,
#btn-check-hebergement-filter-school,
#btn-check-maternelle-filter-school,
#btn-check-elementaire-filter-school,
#btn-check-voie-generale-filter-school,
#btn-check-voie-techno-filter-school,
#btn-check-voie-prof-filter-school,
#btn-check-apprentissage-filter-school,
#btn-check-segpa-filter-school,
#btn-check-section-arts-filter-school,
#btn-check-section-cinema-filter-school,
#btn-check-section-theatre-filter-school,
#btn-check-section-internationale-filter-school,
#btn-check-section-europeenne-filter-school,
#btn-check-lycee-agricole-filter-school,
#btn-check-lycee-militaire-filter-school,
#btn-check-lycee-metiers-filter-school,
#btn-check-greta-filter-school {
  transition: 0.3s;
}
#btn-check-without-filter-school:checked + .btn,
#btn-check-restauration-filter-school:checked + .btn,
#btn-check-hebergement-filter-school:checked + .btn,
#btn-check-maternelle-filter-school:checked + .btn,
#btn-check-elementaire-filter-school:checked + .btn,
#btn-check-voie-generale-filter-school:checked + .btn,
#btn-check-voie-techno-filter-school:checked + .btn,
#btn-check-voie-prof-filter-school:checked + .btn,
#btn-check-apprentissage-filter-school:checked + .btn,
#btn-check-segpa-filter-school:checked + .btn,
#btn-check-section-arts-filter-school:checked + .btn,
#btn-check-section-cinema-filter-school:checked + .btn,
#btn-check-section-theatre-filter-school:checked + .btn,
#btn-check-section-internationale-filter-school:checked + .btn,
#btn-check-section-europeenne-filter-school:checked + .btn,
#btn-check-lycee-agricole-filter-school:checked + .btn,
#btn-check-lycee-militaire-filter-school:checked + .btn,
#btn-check-lycee-metiers-filter-school:checked + .btn,
#btn-check-greta-filter-school:checked + .btn {
  transition: 0.3s;
  color: rgb(241, 119, 53) !important;
}

.button-check:checked {
  color: rgb(241, 119, 53) !important;
}

#table-offers {
  color: rgb(236, 250, 255) !important;
  width: 100% !important;
  max-width: 1120px;
}
#table-offers.table-offers td {
  color: rgb(236, 250, 255);
}
#table-offers.table-offers th {
  background-color: rgb(5, 64, 87) !important;
  color: rgb(241, 119, 53) !important;
}
#table-offers.table-offers tr:nth-child(even) td {
  background-color: rgb(5, 64, 87) !important;
}
#table-offers.table-offers tr:nth-child(odd) td {
  background-color: rgb(3, 76, 105) !important;
}
#table-offers.table-offers tr:hover td {
  background-color: #086387 !important;
  transition: background-color 0.3s ease;
}

div.dt-container .dt-paging .dt-paging-button:not(.disabled):hover {
  color: rgb(241, 119, 53) !important;
  background: none !important;
  background-color: #086387 !important;
  border-color: rgb(50, 135, 168) !important;
}

.dt-paging-button {
  color: rgb(236, 250, 255) !important;
  background-color: rgb(5, 64, 87) !important;
  border: 1px solid rgb(3, 76, 105) !important;
  padding: 6px 12px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 5px !important;
  transition: all 0.3s ease;
  /*
  :hover {
      color: $secondary-color !important;
      background-color: lighten($primary-color-medium-dark, 10%) !important;
      border-color: $secondary-color !important;
  }
  */
}
.dt-paging-button.current {
  color: rgb(5, 64, 87) !important;
  background-color: rgb(241, 119, 53) !important;
  border-color: rgb(241, 119, 53) !important;
  font-weight: bold;
}
.dt-paging-button.disabled {
  background-color: rgb(2, 52, 71) !important;
  cursor: not-allowed;
  border-color: rgb(2, 52, 71) !important;
  color: rgb(3, 76, 105) !important;
  /*
  &:hover {
      color: $white !important;
      background-color: $primary-color-dark !important;
      border-color: $white !important;
  }
  */
}
.dt-paging-button.previous, .dt-paging-button.next {
  font-weight: bold;
}

#table-offers_wrapper .dataTables_paginate {
  margin-top: 10px;
}

#table-offers_wrapper {
  color: rgb(236, 250, 255) !important;
  padding-left: 20px;
  padding-right: 20px;
}

.dt-buttons .dt-button {
  color: #ffffff;
  background-color: rgb(5, 64, 87);
  border: 1px solid rgb(3, 76, 105);
  padding: 6px 12px;
  margin-right: 5px;
  border-radius: 5px;
}

.dt-buttons .dt-button:hover {
  color: rgb(241, 119, 53);
  background-color: #086387;
  border-color: rgb(50, 135, 168);
}

#custom-select-types, #custom-select-domaines {
  color: rgb(236, 250, 255);
  background-color: rgb(5, 64, 87);
  border: 1px solid rgb(3, 76, 105);
  padding: 6px 12px;
  margin-right: 5px;
  max-width: 140px;
  border-radius: 5px;
}
#custom-select-types:hover, #custom-select-domaines:hover {
  cursor: pointer;
  background-color: #086387;
  border-color: rgb(50, 135, 168);
}
#custom-select-types:focus, #custom-select-domaines:focus {
  box-shadow: none;
}

.custom-selects-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.div-modal-offer {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(5, 64, 87);
  color: rgb(236, 250, 255);
  padding: 10px;
}

.div-modal-offer-description {
  background-color: rgb(3, 76, 105);
  padding: 10px;
  border-radius: 5px;
}

#modal-offer-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#map {
  height: 600px;
  min-width: 500px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid rgb(2, 52, 71);
}

#infos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  min-width: 500px;
  min-height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(2, 52, 71);
}

#result-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  min-height: 40px;
  width: 100%;
  padding: 10px;
  padding-bottom: 0px;
  background-color: rgb(3, 76, 105);
}

#result-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: rgb(236, 250, 255);
}

.result-line {
  color: rgb(236, 250, 255);
  font-size: 1.2em;
  margin-bottom: 0px;
}

.container-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 900px;
  min-width: 500px;
  min-height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(2, 52, 71);
}

.container-02 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  width: 100%;
  max-width: 900px;
  min-width: 500px;
  min-height: 40px;
  margin-bottom: 0px;
  border-radius: 10px;
}

#search-div {
  padding: 10px;
  width: 100%;
  max-width: 900px;
  min-width: 500px;
  min-height: 40px;
  border-radius: 10px;
  transition: 0.3s;
}

#input-search-request {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(50, 135, 168);
  background-color: rgb(3, 76, 105);
  color: rgb(240, 145, 93);
  padding-right: 10px;
  padding-left: 10px;
}
#input-search-request:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgb(50, 135, 168), 0 0 10px rgb(50, 135, 168);
}

#select-search-request {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(50, 135, 168);
  background-color: rgb(3, 76, 105);
  color: rgb(240, 145, 93);
  padding: 10px;
}
#select-search-request:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgb(50, 135, 168), 0 0 10px rgb(50, 135, 168);
}

.option-search-request {
  position: absolute;
  top: 30px;
  left: 0;
  color: rgb(240, 145, 93);
  padding-left: 10px;
  padding-right: 10px;
  min-height: 20px;
}
.option-search-request:hover {
  background-color: rgb(50, 135, 168);
  color: rgb(2, 52, 71);
}

.favorite-star {
  font-size: 1.2em;
  color: rgb(241, 119, 53);
}
.favorite-star:hover {
  color: rgb(240, 145, 93);
}

#btn-favorite {
  position: absolute;
  top: 10px;
  left: 10px;
}

#btn-comment {
  position: absolute;
  top: 55px;
  left: 10px;
}

#map-accordion {
  min-width: 500px;
  width: 100%;
  max-width: 900px;
  margin-top: 20px;
  /*
  .card-favorite {
  }
  */
}
#map-accordion #collapseFour {
  padding: 20px;
}
#map-accordion .accordion-item {
  border-radius: 10px;
  border: 1px solid rgb(2, 52, 71);
  background-color: rgb(3, 76, 105);
  color: rgb(2, 52, 71);
}
#map-accordion .accordion-header {
  background-color: rgb(2, 52, 71);
}
#map-accordion .accordion-body {
  background-color: rgb(3, 76, 105);
  color: rgb(2, 52, 71);
  border-radius: 0 0 10px 10px;
  padding: 0px;
}
#map-accordion #map-accordion-body-favorite {
  padding: 20px;
  border-radius: 5px;
}
#map-accordion #map-accordion-body-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
#map-accordion #map-accordion-body-forecast {
  padding: 20px;
}
#map-accordion .card {
  position: relative;
  border: none;
  box-shadow: none;
}
#map-accordion .div-comment-buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#map-accordion .comment-pseudo {
  color: rgb(241, 119, 53);
  font-weight: 300;
  font-style: italic;
  font-size: 0.8em;
}
#map-accordion .comment-date {
  color: rgb(236, 250, 255);
  font-style: italic;
  font-size: 0.8em;
  color: rgb(241, 119, 53);
}
#map-accordion .comment-score {
  color: rgb(241, 119, 53);
  font-weight: 800;
  font-size: 1.2em;
  position: absolute;
  top: 10px;
  right: 20px;
}
#map-accordion .card-text {
  margin-bottom: 0px;
}
#map-accordion .card-comment {
  width: 100%;
}
#map-accordion .card-title {
  color: rgb(236, 250, 255);
  font-weight: 700;
  font-size: 1.2em;
}
#map-accordion .card-body {
  background-color: rgb(2, 52, 71);
  border: none;
  border-radius: 5px;
  box-shadow: none;
  color: rgb(236, 250, 255);
}
#map-accordion .list-group-item-custom {
  background-color: rgb(2, 52, 71);
  border: 1px solid rgb(3, 76, 105);
  color: rgb(236, 250, 255);
  /*
  &:hover {
      background-color: $primary-color-light;
      color: $primary-color-dark;
  }*/
}
#map-accordion .favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#map-accordion .accordion-button {
  background-color: rgb(3, 76, 105);
  color: rgb(236, 250, 255);
  border-radius: 10px 10px 0 0;
}
#map-accordion .accordion-button:focus {
  box-shadow: none;
}
#map-accordion .accordion-button.collapsed {
  border-radius: 10px;
}
#map-accordion .accordion-button:not(.collapsed)::after, #map-accordion .accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f17735'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
#map-accordion .accordion-button::after {
  color: rgb(236, 250, 255) !important;
}
#map-accordion .accordion-button:not(.collapsed) {
  box-shadow: none;
}

.color-temp-0 {
  color: rgb(6, 89, 122);
}

.color-temp-1 {
  color: rgb(11, 124, 168);
}

.color-temp-2 {
  color: rgb(18, 159, 214);
}

.color-temp-3 {
  color: rgb(15, 189, 102);
}

.color-temp-4 {
  color: rgb(133, 187, 9);
}

.color-temp-5 {
  color: rgb(241, 119, 53);
}

.color-temp-6 {
  color: rgb(175, 37, 3);
}

.color-temp-7 {
  color: rgb(135, 5, 161);
}

.bg-temp-0 {
  background-color: rgb(6, 89, 122);
}

.bg-temp-1 {
  background-color: rgb(11, 124, 168);
}

.bg-temp-2 {
  background-color: rgb(18, 159, 214);
}

.bg-temp-3 {
  background-color: rgb(15, 189, 102);
}

.bg-temp-4 {
  background-color: rgb(133, 187, 9);
}

.bg-temp-5 {
  background-color: rgb(241, 119, 53);
}

.bg-temp-6 {
  background-color: rgb(175, 37, 3);
}

.bg-temp-7 {
  background-color: rgb(135, 5, 161);
}

.icon-weather {
  font-size: 3.2em;
  color: rgb(236, 250, 255);
  margin-bottom: 10px;
}

.icon-wind {
  font-size: 4em;
  color: rgb(236, 250, 255);
}

.icon-temp {
  font-size: 2.6em;
  color: rgb(236, 250, 255);
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-proba-rain {
  font-size: 3.2em;
  color: rgb(236, 250, 255);
  margin-top: 10px;
}

.icon-proba-frost {
  font-size: 3.2em;
  color: rgb(236, 250, 255);
  margin-top: 10px;
}

.icon-proba-fog {
  font-size: 2.4em;
  color: rgb(236, 250, 255);
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-proba-wind100,
.icon-proba-wind70 {
  font-size: 2.4em;
  color: rgb(236, 250, 255);
  margin-top: 10px;
}

.icon-sun-hours {
  font-size: 2.4em;
  color: rgb(236, 250, 255);
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-rain-cumul {
  font-size: 2.4em;
  color: rgb(236, 250, 255);
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-wind-tempest {
  font-size: 2.4em;
  color: rgb(236, 250, 255);
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-forecast-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 10px;
}

.card-forecast {
  padding: 10px;
  padding-top: 20px;
  width: 120px;
  height: 120px;
  background-color: rgb(2, 52, 71);
  color: rgb(236, 250, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-forecast-date {
  font-size: 0.8em;
  color: rgb(236, 250, 255);
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(2, 52, 71);
  text-align: center;
}

/*# sourceMappingURL=app.css.map */
