.text-orange {
  color: rgb(255, 140, 0);
}

.text-white {
  color: rgb(236, 250, 255);
}

.text-primary {
  color: rgb(6, 89, 122);
}

.text-primary-dark {
  color: rgb(2, 52, 71);
}

.text-secondary {
  color: rgb(241, 119, 53);
}

.link-01 {
  text-decoration: none;
  font-weight: 700;
}
.link-01:hover {
  color: rgb(6, 89, 122);
}

.link-02 {
  text-decoration: none;
  font-weight: 700;
}
.link-02:hover {
  color: rgb(2, 52, 71);
}

.btn-primary {
  background-color: rgb(50, 135, 168);
  border-color: rgb(6, 89, 122);
  color: rgb(236, 250, 255);
  min-width: 160px;
}
.btn-primary:hover {
  background-color: rgb(2, 52, 71);
  border-color: rgb(50, 135, 168);
  color: rgb(241, 119, 53);
}

.btn-primary-small {
  background-color: rgb(50, 135, 168);
  border-color: rgb(6, 89, 122);
  color: rgb(236, 250, 255);
  min-width: 40px;
}
.btn-primary-small:hover {
  background-color: rgb(2, 52, 71);
  border-color: rgb(50, 135, 168);
  color: rgb(241, 119, 53);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(6, 89, 122);
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: rgb(2, 52, 71);
}

header {
  background-color: rgb(50, 135, 168);
  width: 100vw;
  max-width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20px;
}

footer {
  background-color: rgb(50, 135, 168);
  width: 100vw;
  max-width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 10px;
}

.main {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(236, 250, 255);
  width: 100vw;
  max-width: 100%;
}

.display-none {
  transition: 0.3s;
  display: none;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

#map {
  height: 600px;
  min-width: 500px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid rgb(2, 52, 71);
}

#result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  min-width: 500px;
  min-height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(2, 52, 71);
}

#result-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  min-height: 40px;
  width: 100%;
  padding: 10px;
  background-color: rgb(0, 69, 97);
}

#result-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: rgb(236, 250, 255);
}

.result-line {
  color: rgb(236, 250, 255);
  font-size: 1.2em;
  margin-bottom: 0px;
}

.container-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 900px;
  min-width: 500px;
  min-height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(2, 52, 71);
}

.container-02 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  width: 100%;
  max-width: 900px;
  min-width: 500px;
  min-height: 40px;
  margin-bottom: 0px;
  border-radius: 10px;
}

#search-div {
  padding: 10px;
  width: 100%;
  max-width: 900px;
  min-width: 500px;
  min-height: 40px;
  border-radius: 10px;
  transition: 0.3s;
}

#input-search-request {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(50, 135, 168);
  background-color: rgb(0, 69, 97);
  color: rgb(250, 185, 149);
  padding-right: 10px;
  padding-left: 10px;
}
#input-search-request:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgb(50, 135, 168), 0 0 10px rgb(50, 135, 168);
}

#select-search-request {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(50, 135, 168);
  background-color: rgb(0, 69, 97);
  color: rgb(250, 185, 149);
  padding: 10px;
}
#select-search-request:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgb(50, 135, 168), 0 0 10px rgb(50, 135, 168);
}

.option-search-request {
  color: rgb(250, 185, 149);
  padding-left: 10px;
  padding-right: 10px;
  min-height: 20px;
}
.option-search-request:hover {
  background-color: rgb(50, 135, 168);
  color: rgb(2, 52, 71);
}

/*# sourceMappingURL=app.css.map */
